#!/bin/bash

file=${MANE_PATH}/.d/.config/env.sh

path_to_data=${MANE_PATH}/.d/.repo.d/.repo.data

if [[ -f ${path_to_data} ]]; then

    MANE_DATA_PATH=$(_f2e ${path_to_data})
    if [[ -z ${ST_RC_D_DATA_PATH} ]]; then
        echo "in fs=file://${MANE_PATH}/.d/.repo.d/.repo.rc , line=${LINENO} : : NOT_DEFINE : '\${MANE_DATA_PATH} in file://${path_to_data}' : ${hint} : return 1" >&2
        return 1
    fi

    if ! [[ -d ${ST_RC_D_DATA_PATH} ]]; then
        echo "in fs=file://${MANE_PATH}/.d/.repo.d/.repo.rc , line=${LINENO} : : NOT_DIR : '\${MANE_DATA_PATH} in file://${path_to_data}' : ${hint} : return 1" >&2
        return 1
    fi

else
    echo "in fs=file://${MANE_PATH}/.d/.repo.d/.repo.rc , line=${LINENO} : : NOT_FILE : '. file://${path_to_data}' : ${hint} : return 1" >&2
    return 1
fi

if [[ -f ${file} ]]; then
    if ! . ${file}; then
        echo "in fs=file://${MANE_PATH}/.d/.repo.d/.repo.rc , line=${LINENO} : : EXEC_FAIL : '. file://${file}' : ${hint} : return 1" >&2
        return 1
    fi
else
    echo "in fs=file://${MANE_PATH}/.d/.repo.d/.repo.rc , line=${LINENO}: : EXEC_FAIL : '-f ${file}' : ${hint} : return 1" >&2
    return 1
fi

# arr_lib=($(_str_lib_lst))

# export PS1="${RED}${arr_lib[*]} \[\e[97m\]\u@\h \w \$ \[\e[m\]${NORMAL}"

echo -e "${HLIGHT}--- _arb_up ${MANE_PATH}/.d/.arb/lib0.arb ---${NORMAL}" #start files
if ! _arb_up ${MANE_PATH}/.d/.arb/lib0.arb "in fs=file://${MANE_PATH}/.d/.repo.d/.repo.rc , line=${LINENO}, pwd=${PWD}"; then
    echo "in fs= file://${MANE_PATH}/.d/.repo.d/.repo.rc , line=${LINENO}: : EXEC_FAIL : '_arb_up ${MANE_PATH}/.d/.arb/lib0.arb' : ${hint} : return 1" >&2
    return 1
fi

file_sh=${MANE_PATH}/.d/.ham/main/main.fn.lst.d/exec_tst_arb_.sh
file_lst=${MANE_PATH}/.d/.ham/main/main.fn.lst.d/_exec_tst_arb_.lst

if ! _tst_arb ${file_lst}; then
    echo "in fs= file://${MANE_PATH}/.d/.repo.d/.repo.rc , line=${LINENO} : : EXEC_FAIL : '_tst_arb file://${file_lst}' : ${hint} : return 1" >&2
    return 1
fi

return 0
